body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 30px;
    background-color: aqua;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.quad {
    width: 50vw;
    height: 50vh;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: purple;
}


