html {
    height: 100%;
    font-size: 1vw;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(236, 236, 236);
    padding: 5px;
    padding: 5px 50px 5px;
}

/* "Header" of both CV's */

.container {
    background: rgb(236, 236, 236);
    border-bottom: 3px solid orange;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 36vh;
}

.profile {
    display: flex;
    align-items: center;
}

.image img {
    width: auto;
    max-height: 30vh;
}

.name {
    line-height: 80%;
    width: auto;
    font-size-adjust: 30vh;
}

.contacts {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
}

.cv1 .container {
    z-index: 4;
}

.cv2 .container {
    z-index: 4;
}

/* "Main" of both CV's */

.content *:not(hr, li, ul, table, tr, td) {
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw 2vh;
    width: 100%;
}

.content h2 {
    display: inline-flex;
    height: 100%;
    width: 18%;
    position: sticky;
    top: 40vh;
    vertical-align: top;
    color: orange;
}

.content .theme {
    display: inline-block;
    padding-top: 1%;
    height: 100%;
    width: 75%;
    text-align: left;
}

.content .theme span {
    height: 100%;
}

.content .profile, .work, .keyskills, .studying {
    background: rgb(236, 236, 236);
}

/* CV1 */

.cv1 .content tr td {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.cv1 .content .profile {
    z-index: 0;
}

.cv1 .content .work {
    z-index: 1;
}

.cv1 .content .keyskills {
    z-index: 2;
}

.cv1 .content .studying {
    z-index: 3;
}

/* CV2 */

.cv2 .content .skills {
    display: flex;
    margin: 0 auto 0 auto;
    width: 400px;
}

.cv2 .content .profile {
    z-index: 0;
}

.cv2 .content .studying {
    z-index: 1;
}

.cv2 .content .work {
    z-index: 2;
}

.cv2 .content .keyskills {
    z-index: 3;
}