body {
    background: rgb(236, 236, 236);
    padding: 5px;
    padding: 5px 50px 5px;
}

/* "Header" of both CV's */

.container {
    display: inline-block;
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(236, 236, 236);
    border-bottom: 3px solid orange;
    font-size: 24px;
}

    .image {
        width: 250px;
        height: 250px;
    }

    .name {
        position: absolute;
        top: 70px;
        left: 250px;
        line-height: 80%;
    }

    .contacts {
        position: absolute;
        right: 0px;
        bottom: 100px;
    }

/* "Main" of both CV's */

.content {
    font-size: 24px;
    width: 100%;
}

    .content h2 {
        display: inline-block;
        height: 100%;
        width: 18%;
        vertical-align: top;
        color: orange;
    }

    .content .theme {
        display: inline-block;
        padding-top: 10px;
        height: 100%;
        width: 75%;
        text-align: left;
    }

    .content .theme span {
        height: 100%;
    }

    .content .skills tr td {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    .content .skills ul {
        display: inline-block;
    }
